
:root{
    --primary-hue: 210;
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 
    100%, 50%);
    --color-primary-variant: hsl(var(--color-primary), 100%, 65%);
    --color-secondary: rgb(255, 106, 0);
    --color-secondary-variant: green;
}

#user{
    background: linear-gradient(85deg, var(--color-primary), transparent);
}

#create{
    background: linear-gradient(85deg, var(--color-secondary), transparent);
}
